/*
.tableColumn {color: #ffffff;}
.tableName {font-size: 13px;color: #ffffff; font-weight: bold;}
.highLight td {background-color: #f5af40;text-align:left;}
 HR
.head {width: 100%;margin-bottom: 10px;border: .5px solid #e3e3e3;}
.subHead {border: 0.5px solid #f7ae3d} */

/* Tips use for site front
.messageDiv {text-align: center;font-weight: bolder;}*/

