/*layout css*/
/*container*/
#container {
	MARGIN: 0px auto; 
	WIDTH: 941px;
	padding-left:1px;
	paddiing-right:1px; 
	background-image:url(../../images/new/container-bg.png);
	background-repeat:no-repeat;
}
#main  {
	/*background-color:#FFFFFF;*/
	background-image:url(../../images/new/main-others-top-bg.png);
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	background-position:-1px 0px;
	margin:4px 4px 0px 190px;
	padding:0px -1px -1px 1px;
	text-align:left;
	vertical-align:top;
	min-height: 740px;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.trace{	
	height: 25px;
	width:98%;
	padding-top:10px; 
	padding-left:6px; 
	padding-bottom:6px; 
	float:left;	
}
